html,
body {
    position: relative;
    height: 100%;
    font-family: 'Montserrat', sans-serif;
    background: #131313;
    font-size: 14px;
    color: #fff;
    margin: 0;
    padding: 0;
}

body::-webkit-scrollbar {
    display: none;
}

iframe {
    border-radius: 15px;
    margin-bottom: 20px;
}

hr {
    border: 1px solid #282828;
    animation: hrAnimation 1s;
}

a {
    text-decoration: none;
    color: #fff;
}

h1 {
    font-weight: 500;
    font-size: 26px;
}

h2 {
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
}

h3 {
    margin: 0 0 10px 0;
}

p {
    font-weight: 300;
    font-size: 18px;
}

.row {
    display: flex;
    flex-direction: column;
}

.marginTopAuto {
    margin-top: auto !important;
}

#mobile {
    display: none;
    visibility: hidden;
    opacity: 0;
    transition: 1s;
}

.swiper-pagination {
    top: 73px !important;
}

.swiper-pagination-bullet {
    background: #525252;
    height: 17px;
    width: 7px;
    transition: 1s;
    border-radius: 3px;
}

.swiper-pagination-bullet-active {
    background: #E7B75A;
    height: 28px;
}

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    background: #131313;
    display: flex;
    flex-direction: column;
}

/* BLOCK 1 */

.slideNumber {
    margin: 30px 50px 20px auto;
    height: 10%;
}

.description {
    text-align: center;
    width: 300px;
    margin: auto;
    padding-bottom: 10px;
}

#car {
    display: flex;
    margin-left: auto;
    transition: 1s;
    animation: carAnimation 1s;
    transform: translate(15%);
    height: 40%;
}

.phoneIcon {
    margin-left: 10px;
    width: 19px;
    height: 19px;
}

.button {
    align-items: center;
    background: #fbce5b;
    border-radius: 8px;
    color: #131313;
    display: flex;
    font-size: 18px;
    font-weight: 600;
    justify-content: center;
    margin: auto;
    padding: 13px 20px;
    width: 70%;
    cursor: pointer;
}

/* BLOCK 2 */

.servicesTitle {
    text-align: center;
    width: 350px;
    margin: 0 auto;
}

.grayWrapper {
    background-color: #e7e7e7;
    border-radius: 40px 40px 0 0;
    padding: 20px 20px 150px 20px;
    height: 100%;
}

.servicesList {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.serviceItem {
    border-radius: 15px;
    width: 40%;
    background: #131313;
    padding: 10px;
    height: 150px;
    margin-bottom: 20px;
}

.serviceItemHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.serviceIconWrapper {
    width: 40px;
    padding: 15px;
    background: #2C2C2C;
    border-radius: 15px;
    display: flex;
    justify-content: center;
}

.servicePrice {
    font-weight: 700;
    font-size: 18px;
    width: 100%;
    text-align: center;
}

.serviceName {
    font-weight: 300;
    font-size: 16px;
}

.yellowColor {
    color: #E7B75A;
}

/* Block 3 */
.contactWrapper {
    display: flex;
    justify-content: space-between;
}

.contactField {
    padding: 20px 10px;
    background: #131313;
    border-radius: 15px;
    width: 40%;
    text-align: center;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.instagramIcon {
    margin-right: 10px;
}

.scheduleWrapper {
    text-align: center;
    background: #fff;
    color: #131313;
    padding: 10px;
    border-radius: 15px;
    margin: 10px 0;
    font-size: 16px;
}

.schedule {
    display: flex;
    flex-direction: column;
}

.scheduleItem {
    width: 170px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.servicesFullList {
    padding: 0 20px 20px 20px;
    max-width: 1400px;
    margin: auto;
}

.serviceCard {
    background: #131313;
    padding: 10px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-bottom: 20px;
}

.serviceCardHeader {
    display: flex;
    align-items: start;
}

.serviceCardPrice {
    text-align: right;
    color: #fff;
}

.serviceCardName {
    text-align: left;
    margin-left: 10px;
    margin-bottom: 5px;
    font-weight: 400;
    font-size: 18px;
    color: #fff;
}

.serviceCardDescription {
    font-weight: 300;
    margin-left: 10px;
    font-size: 15px;
    color: #D9D9D9;
    text-align: left;
}

.menu {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100vw;
    z-index: -3;
    height: 100vh;
}

.menu-icon {
    position: absolute;
    width: 20px;
    height: 14px;
    margin: auto;
    left: 0;
    top: 0;
    right: 0;
    bottom: 1px;
}

.menu-circle {
    width: 100px;
    height: 100px;
    position: absolute;
    top: 100vh;
    left: 40vw;
    border-radius: 50%;
    transform: scale(1);
    z-index: 1000;
    transition: 0.5s ease-in-out;
}

.menu-overlay {
    width: 100%;
    overflow: scroll;
    margin: auto;
    background-color: #D9D9D9;
    color: #333;
    height: 100%;
    position: fixed;
    text-align: center;
    transition: opacity 0.2s ease-in-out;
    z-index: 1001;
    opacity: 0;
    visibility: hidden;
    display: flex;
    flex-direction: column;
    transition-delay: 0.4s;
    padding: 0px 20px;
}

.overlayTitle {
    margin-top: 40px;
    display: flex;
    align-items: center;
    padding-bottom: 20px;
}

#close {
    cursor: pointer;
    margin-right: 20px;
    margin-left: 20px;
}

/*desktop*/

#desktop {
    display: none;
    visibility: hidden;
    opacity: 0;
    transition: 1s;
    max-width: 1440px;
    justify-content: center;
    margin: auto;
    flex-direction: column;
}

.section {
    width: 100%;
    margin: auto;
    min-height: 100vh;
    padding: 0 40px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

.sectionNumber {
    display: block;
    margin-left: auto;
}

.imageWrapper {
    margin-top: auto;
    width: 100%;
    height: 50vh;
    background-image: url('images/oilChangePhoto.png');
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 15px 15px 0px 0px;
}

.contactsDescription {
    margin-bottom: 0;
}

.contactsWrapper {
    display: flex;
    justify-content: space-between;
}

.contactsInfoWrapper {
    display: flex;
    flex-direction: column;
    width: 40%;
}


@keyframes hrAnimation {
    from {
        width: 0%;
    }

    to {
        width: 100%;
    }
}

@keyframes carAnimation {
    from {
        transform: translateX(80%);
    }

    to {
        transform: translateX(15%);
    }
}

@media (max-height: 695px) {
    .serviceItem {
        height: 130px;
    }

    .serviceName {
        font-size: 14px;
    }

    .serviceIconWrapper {
        padding: 10px;
    }

    .serviceIconWrapper img {
        height: 36px;
        width: 36px;
    }

}

@media (max-height: 615px) {

    .serviceItem:nth-child(3) {
        display: none;
    }

    .serviceItem:nth-child(4) {
        display: none;
    }

}

@media (max-height: 660px) {

    iframe {
        height: 130px;
    }

    h1 {
        font-size: 23px;
    }

    h3 {
        font-size: 17px;
    }

    p {
        font-size: 15px;
    }

    .swiper-pagination {
        top: 63px !important;
    }

    #car {
        height: 36%;
    }

    .slideNumber {
        height: 8%;
        margin: 20px 50px 20px auto;
    }

    .button {
        font-size: 16px;
        padding: 11px 10px;
        width: 70%;
        margin-bottom: 50px;
    }

    .contactField {
        padding: 12px 10px;
        font-size: 14px;
    }

    .scheduleItem {
        font-size: 15px;
    }

    .grayWrapper {
        background-color: #e7e7e7;
        border-radius: 40px 40px 0 0;
        padding: 15px 20px 100px 20px;
    }
}

@media (max-width: 1360px) {
    .serviceItem:nth-child(5) {
        display: none;
    }
}

@media (max-width: 1440px) {
    .serviceItem {
        margin-left: 10px;
    }


    .serviceItemLarge {
        margin-left: 10px;
    }

    .serviceItemDesktop:nth-child(2) {
        display: none;
    }

    .serviceItemDesktop:nth-child(1) {
        display: none;
    }
}

@media (max-width: 1130px) {
    .serviceItemLarge {
        display: none!important;
    }
}

@media (min-width: 1000px) {
    h1 {
        margin-top: 0px;
        font-size: 40px;
    }

    p {
        font-size: 26px;
    }

    .descriptionWrapper {
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: flex-start;
        border-left: 1px solid #E7B75A;
        padding-left: 30px;
    }

    .description {
        padding-bottom: 0;
        margin: 0;
        text-align: left;
        width: 530px;
    }

    .button {
        margin: 10px 0 0 0;
        width: 30%;
    }

    .menu-circle {
        top: 200vh;
    }

    .menu {
        width: 100%;
    }

    .grayWrapper {
        margin-top: 80px;
        padding: 40px;
    }

    .serviceItem {
        border-radius: 15px;
        width: 190px;
        height: 190px;
        background: #131313;
        padding: 16px;
        margin-bottom: 40px;
    }

    .serviceIconWrapper {
        width: 66px;
        height: 66px;
    }

    .serviceName {
        font-size: 20px;
    }

    .serviceItemLarge {
        background: #131313;
        padding: 16px;
        border-radius: 15px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-bottom: 40px;
        width: 460px;
    }

    .serviceItemLargeName {
        font-size: 20px;
        margin-left: 20px;
        margin-bottom: 10px;
    }

    .serviceItemLargeDescription {
        font-size: 18px;
        font-weight: 300;
        margin-left: 20px;
        color: #D9D9D9;
    }

    .servicePrice {
        font-size: 20px;
    }

    .scheduleWrapper {
        padding: 20px;
        width: 100%;
        border-radius: 15px;
        margin: 10px 0;
        font-size: 16px;
    }

    .contactField {
        width: 100%;
        margin-top: 30px;
    }
    .servicesFullList {
        flex-wrap: wrap;
        display: flex;
        justify-content: space-between;
    }
    .serviceCard {
        width: 25%;
        justify-content: space-between;
    }
    
    .overlayTitle {
        width: 100%;
    }
}